  .custom-quill-email {
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .custom-quill-email .ql-toolbar {
    background-color: white;
    border-bottom: 1px solid #ebebeb !important;
    border: 0;
  }
  
  .custom-quill-email .ql-container {
    min-height: 270px;
    font-size: 16px;
    border-radius: 0px !important;
    border: 0 !important;
    word-break: break-word;
  }
  
  .custom-quill-email .ql-editor {
    white-space: normal !important; /* Allows natural wrapping */
    overflow-wrap: break-word !important; /* Ensures long words break */
    word-wrap: break-word !important; /* Alternative for compatibility */
    line-height: 1.5; /* Improves text readability */
  }  
  
  .ql-toolbar .ql-stroke {
    stroke: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-fill {
    fill: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-label {
    color: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-item {
    color: #9d9ba7 !important;
  }

  .custom-insert-variable {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .custom-insert-variable:hover {
    opacity: 0.8;
  }
  