  .custom-quill-email {
    background-color: #fff;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .custom-quill-email .ql-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #ebebeb !important;
    border: 0;
  }
  
  .custom-quill-email .ql-container {
    min-height: 200px;
    font-size: 16px;
    border-radius: 0px !important;
    border: 0 !important;
  }
  
  .ql-toolbar .ql-stroke {
    stroke: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-fill {
    fill: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-label {
    color: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-item {
    color: #9d9ba7 !important;
  }
