.custom-quill-manual {
    background-color: white;
    font-size: 16px;
    border: 1px solid #cccccc !important;
  }
  
  .custom-quill-manual .ql-toolbar {
    background-color: white;
    border-bottom: 1px solid #ebebeb !important;
    border: 0;
    height: 40px;
  }
  
  .custom-quill-manual .ql-container {
    min-height: 190px;
    font-size: 16px;
    border: 0 !important;
    word-break: break-word;
  }
  
  .ql-toolbar .ql-stroke {
    stroke: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-fill {
    fill: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-label {
    color: #9d9ba7 !important;
  }
  
  .ql-toolbar .ql-picker-item {
    color: #9d9ba7 !important;
  }
  