#root {
  max-width: 100vw;
  height: 100vh;
  background: var(--white-fade-gradient);
}

body {
  margin: 0 !important;
}

:root {
  /* --white-fade-gradient: linear-gradient(180deg, var(--theme-color), #fbfdff); */
  --theme-color: #c0dbf9;
}