/* DataGridStyles.css */
.data-grid-container {
    height: 100%; /* Ensure parent takes full height */
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .MuiDataGrid-root {
    height: 100% !important; /* Ensure DataGrid takes full height */
    border: none !important; /* Remove border */
    max-height: '4px';
  }
  
  .MuiDataGrid-columnHeaders {
    color: var(--text-primary);
    font-weight: bold;
  }
  
  .MuiDataGrid-cell {
    max-height: '4px';
    color: var(--text-secondary);
  }
  
  /* .MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-root--noToolbar.MuiDataGrid-withBorderColor.css-1jouqri-MuiDataGrid-root {
    background: red;
} */